@model SimpleStore.Web.Areas.Store.ViewModels.ItemViewModel

<div class="d-flex">
    <h1>@Model.Name</h1>
    <div class="ms-auto">
        <partial name="_AddToCartButton" model="Model" />
    </div>
</div>

<h5>@Model.Category.Name</h5>

<div class="d-flex flex-row gap-3 mb-3">
    <p>@Model.Price <span class="fw-lighter">credits</span></p>
    <p>@Model.Ordered <span class="fw-lighter">orders</span></p>
</div>

@if (Model.Characteristics.Any())
{
    <partial name="_CharacteristicList" model="Model.Characteristics" />
}