@model SimpleStore.Web.Areas.Store.ViewModels.ItemViewModel

<div class="d-flex">
    <h1>@Model.Name</h1>
    <div class="ms-auto">
        <partial name="_AddToCartButton" model="Model" />
    </div>
</div>
<p>@Model.Price credits</p>


@if (Model.Characteristics.Any())
{
    <partial name="_CharacteristicList" model="@Model.Characteristics" />
}