@model IEnumerable<SimpleStore.Entities.Item>

<div class="list-group">
    @foreach (var item in Model)
    {
        <div class="list-group-item">
            <div class="d-flex flex-row justify-content-between">
                <a class="align-self-start" asp-route-id="@item.Id"
                   asp-area="" asp-controller="Item" asp-action="Index">
                    @item.Name
                </a>

                <div class="d-flex">
                    <a class="btn btn-sm btn-outline-warning mx-1" asp-route-id="@item.Id"
                       asp-controller="Item" asp-action="Edit">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <form method="post" asp-route-id="@item.Id"
                          asp-controller="Item" asp-action="Delete">
                        <button class="btn btn-sm btn-outline-danger mx-1">
                            <i class="bi bi-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }

    <div class="container-xxl d-flex flex-column fixed-bottom">
        <a class="btn btn-sm btn-primary" asp-controller="Item" asp-action="Edit">New</a>
    </div>
</div>