@using SimpleStore.Web.Areas.Administration.ViewModels
@model OrderDetailViewModel

<div class="list-group-item">
    <div class="d-flex justify-content-between">
        <p>@Model.ItemName</p>
        <p>@Model.Quantity</p>
    </div>
</div>