@model IReadOnlyList<SimpleStore.Web.Areas.Store.ViewModels.CartItemViewModel>
@{
    var totalSum = Model.Sum(e => e.Item.Price * e.Quantity);
}

<div class="card">
    <div class="card-body d-flex flex-column">
        @if (totalSum > decimal.Zero)
        {
            <div class="h5 mb-3" id="sum-price">
                @totalSum
                <span class="fw-lighter">credits</span>
            </div>
        }

        @if (ViewData["SuccessfullyOrdered"] is not null)
        {
            <div class="alert alert-success" role="alert">
                Order succefully submitted. Thank you for your purchase!
            </div>
        }

        <div class="d-flex align-items-baseline">
            <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">
                Continue Shopping
            </a>
            @if (totalSum > decimal.Zero)
            {
                <div class="ms-auto">
                    <form method="post" asp-action="Checkout">
                        <button class="btn btn-primary">Checkout</button>
                    </form>
                </div>
            }
            else
            {
                <p class="h5 ms-auto">Looks like your cart is empty.</p>
            }
        </div>
    </div>
</div>