@model IReadOnlyList<SimpleStore.Web.Areas.Store.ViewModels.CartItemViewModel>

<div class="row row-cols-1" id="cart-item-list">
    @foreach (var cartItem in Model)
    {
        <div class="col mb-2">
            <partial name="_Item" model="cartItem" />
        </div>
    }
</div>

<div id="checkout">
    <partial name="_Checkout" />
</div>