@model SimpleStore.Web.Areas.Store.ViewModels.ItemViewModel

<div class="col mb-2">
    <div class="card card-body">
        <div class="card-title">
            <div class="d-flex justify-content-between">
                <a class="h5" asp-route-id="@Model.ItemId"
                   asp-controller="Item" asp-action="Index">
                    @Model.Name
                </a>

                <partial name="_AddToCartButton" model="Model" />
            </div>
        </div>
        <div class="card-subtitle d-flex justify-content-between mt-2">
            <small>
                @Model.Ordered
                <span class="fw-lighter">orders</span>
            </small>
            <small>
                @Model.Price
                <span class="fw-lighter">credits</span>
            </small>
        </div>

        
    </div>
</div>