@model IReadOnlyList<SimpleStore.Web.Areas.Store.ViewModels.ItemViewModel>

<div class="row row-cols-1" id="item-list">
    @foreach (var item in Model)
    {
        <partial name="_Item" model="item" />
    }
</div>