<div>
    <form class="d-flex my-1">
        <input class="form-control me-2" type="search"
               placeholder="Search" aria-label="Search">
        <button class="btn btn-sm btn-outline-primary" type="submit">
            <i class="bi bi-search"></i>
            Search
        </button>
    </form>
</div>
