<div class="ms-auto" id="item-sort">
    <select class="form-select" aria-label="Sort">
        <option value="Newest" selected>Newest</option>
        <option value="Popular">Popular</option>
        <option value="LowPrice">Low Price</option>
        <option value="HighPrice">High Price</option>
    </select>
</div>