@model IEnumerable<SimpleStore.Web.Areas.Store.ViewModels.ItemViewModel>

<div class="d-flex gap-1 mb-1">
    <partial name="_Search" />
    <partial name="_Sort" />
</div>

<div id="item-list">
    <partial name="_ItemList" />
</div>