@model IEnumerable<SimpleStore.Web.Areas.Administration.ViewModels.ItemViewModel>
@{ 
    ViewBag.TabType = SimpleStore.Web.Areas.Administration.ViewModels.TabType.Items;
}

<div class="card">
    <div class="card-body d-flex flex-column">
        <div class="d-flex align-items-start">
            <a class="btn btn-success me-auto" asp-action="Edit">
                <i class="bi bi-bag-plus"></i>
                New
            </a>

            <div id="item-search">
                <partial name="_Search" />
            </div>

        </div>

        <div id="item-table">
            <partial name="_ItemTable" model="Model"/>
        </div>
    </div>
</div>